#header{
	background-color:#E4E3E3;
	padding:0px;
	margin:0px;
	background-image: -webkit-linear-gradient(top, #E4E3E3, #C6C4C4 );
	overflow: hidden;
}

iframe{
	max-width:100%;
}

img{
	max-width:100%;
	height:auto;
}

body{
	background-color: lightgrey;
}

button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Helvetica,Arial,sans-serif;
	color: #333;
	font-size: 16px;
	background: #ffffff;
	padding: 10px;
	border: solid #E4E3E3 1px;
	text-decoration:none;
	font-weight:bold;
	margin:0px;
	text-align:left;
	width:100%;
}

button:hover {
  background: #fff;
  background-image: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #fff, #f0f0f0);
  background-image: -o-linear-gradient(top, #fff, #f0f0f0);
  background-image: linear-gradient(to bottom, #fff, #f0f0f0);
  text-decoration: none;
}

#footer{
	padding:0px;
	margin:0px;
	background-color:#E4E3E3;
	background-image: -webkit-linear-gradient(top, #E4E3E3, #C6C4C4 );
}

p {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 16px;
	color:#333;
	padding:8px;
}

marquee {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 15px;
	color:#333;
	margin:0px;
	font-weight:bold;
}
